.git
.github
**/build*/
**/build-*
**/.cache
**/__pycache__
**/*.o
**/*.a
**/*.so
**/*.dylib
**/*.exe
**/*.whl
**/dist/
**/.venv/
*.md
!README.md
!LICENSE
docs/
examples/
tests/
profiling/
bridge/
.agents/
.circleci/
